
<div class="main-cont">
  <div class="rating-selector">
    <div class="rating-selector-groups">
     <a class=" dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">5★</a>
     <div class="dropdown-menu">
        <a id="5date" href="/sort/5/date" onClick='return checkUrl("5/date")'> Date  </a>
        <a id="5element" href="/sort/5/element" onClick='return checkUrl("5/element")'> Element  </a>
        <a id="5type" href="/sort/5/type" onClick='return checkUrl("5/type")'> Type  </a>
      </div>
    </div>

    <div class="rating-selector-groups">
      <a class=" dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">4★</a>
      <div class="dropdown-menu">
         <a id="4date" href="/sort/4/date" onClick='return checkUrl("4/date")'> Date  </a>
         <a id="4element" href="/sort/4/element" onClick='return checkUrl("4/element")'> Element  </a>
         <a id="4type" href="/sort/4/type" onClick='return checkUrl("4/type")'> Type  </a>
      </div>
    </div>
  </div>

    <div>
  <% @sorted_by.each do |category| %>
  <h2 class='item'><%= upcase_name(category) %></h2>
    <div class="idx-unit-cont unit-cont">

    <% @unit.each do |unit_details| %>
    <% unit = unit_details['en_name'] %>
    <% rating = unit_details['stars'].to_s + "stars" %>
    <% if unit_details['attribute'].downcase == category || unit_details['role'].downcase == category || rating == category || Date.parse(unit_details['date']).to_s == category %>
        <div class="unit-grid-cols">
              <a class="linkaddress" href="/childs/<%= rating %>/<%= unit %>">
                <!-- <% char_code = unit_details['char_code'].include?("m") ? unit_details['char_code'] : ( unit_details['char_code'][0..4] + '01') %>   -->
               <% char_code = unit_details['char_code'] %>
                <img class="profile_imgs <%=unit_details['pics'] %>" src="/images/portraits/<%= unit_details['pics'] %>.png"/>

            <div class="unit-type-cont">
                <%== format_stat("type", unit_details['role']) %>
                <%== format_stat("element", unit_details['attribute']) %>
            </div>
          </a>
            <h6 class="unit-profile-title"><%= upcase_name(unit) %></h6>
        </div>
    <% end %>
    <% end %>

    </div>
        <% end %>
            </div>
</div>
