
<div class="main-cont">
 <div class="rating-selector">
     <div class="rating-selector-groups">

     <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stars</a>
     <div class="dropdown-menu">
    <a id="5stars" href="/tiers/5" onClick='return checkUrl("5")'>  5★  </a>
    <a id="4stars" href="/tiers/4" onClick='return checkUrl("4")'>  4★  </a>
    <a id="3stars" href="/tiers/3" onClick='return checkUrl("3")'>  3★  </a>
    </div>
  </div>
    <div class="rating-selector-groups">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Modes</a>
    <div class="dropdown-menu">
       <a class="5stars" href="#" onclick="return showUnitsTier('PVE')"> PVE  </a>
       <a class="5stars" href="#" onclick="return showUnitsTier('PVP')"> PVP  </a>
       <a class="5stars" href="#" onclick="return showUnitsTier('RAID')"> Raid  </a>
       <a class="5stars" href="#" onclick="return showUnitsTier('WORLDBOSS')"> WorldBoss  </a>
    </div>
  </div>
  <div class="rating-selector-groups">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Types</a>
    <div class="dropdown-menu">
       <a class="5stars" href="#" onclick="return showUnitsClass('attacker')"> <%== format_stat("type", 'attacker') %>  </a>
       <a class="5stars" href="#" onclick="return showUnitsClass('supporter')"> <%== format_stat("type", 'supporter') %>  </a>
       <a class="5stars" href="#" onclick="return showUnitsClass('balancer')"> <%== format_stat("type", 'balancer') %>  </a>
       <a class="5stars" href="#" onclick="return showUnitsClass('healer')"> <%== format_stat("type", 'healer') %>  </a>
       <a class="5stars" href="#" onclick="return showUnitsClass('defencer')"> <%== format_stat("type", 'defencer') %>  </a>
    </div>
  </div>
  <div class="rating-selector-groups">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Elements</a>
    <div class="dropdown-menu">
       <a class="5stars" href="#" onclick="return showUnitAttribute('water')"> <%== format_stat("type", 'water') %>  </a>
       <a class="5stars" href="#" onclick="return showUnitAttribute('forest')"> <%== format_stat("type", 'forest') %>  </a>
       <a class="5stars" href="#" onclick="return showUnitAttribute('fire')"> <%== format_stat("type", 'fire') %>  </a>
       <a class="5stars" href="#" onclick="return showUnitAttribute('light')"> <%== format_stat("type", 'light') %>  </a>
       <a class="5stars" href="#" onclick="return showUnitAttribute('dark')"> <%== format_stat("type", 'dark') %>  </a>
    </div>
  </div>
  <div class="rating-selector-groups">
    <a class="toggle hide_ignite_bttn" id="ignited-button" data-toggle="toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false" onClick="showByIgn('ignited')" style="color: #ff0039;">Ignited</a>
    <a class="toggle" id="unignited-button" data-toggle="toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false" onClick="showByIgn('unignited')" style="color: #f6d38f;">Normal</a>
    </div>
  </div>
<div>
  <% @sorted_by.each_with_index do |category, idx| %>
  <h2 class='item <%= category %> <%= hide_or_show(category) %>'><%= upcase_name(category) %></h2>
  <% @tiers.each do |tier| %>
  <% if check_if_any?(idx, tier, @unit) %>
  <h2 class='item <%= category %> <%= hide_or_show(category) %>'><%= tier %></h2>

    <div class="item idx-unit-cont unit-cont <%= category %> <%= hide_or_show(category) %>">
    <% @unit.each do |unit_details| %>
    <% next if unit_details['enabled'] == 'f' %>
    <% unit = unit_details['en_name'] %>
    <% rating = unit_details['stars'].to_s + "stars" %>
    <% tier_version = unit_details['tiers2'] == '0 0 0 0' ? 'tiers' : 'tiers2' %>
    <% if unit_details[tier_version].split(" ")[idx] == tier %>
      <% if tier_version == "tiers2" %>
        <div class="unit-grid-cols <%= unit_details['role'].downcase %> <%= unit_details['attribute'].downcase %>" style="border: 2px solid #e31729;">
      <% else %>
        <div class="unit-grid-cols <%= unit_details['role'].downcase %> <%= unit_details['attribute'].downcase %>">
      <% end %>
                      <a class="linkaddress" href="/childs/<%= rating %>/<%= unit %>">
                        <!-- <% char_code = unit_details['char_code'].include?("m") ? unit_details['char_code'] : ( unit_details['char_code'][0..4] + '01') %>   -->
                       <% char_code = unit_details['char_code'] %>
                        <img class="profile_imgs <%= char_code %>" src="/images/portraits/<%= char_code %>.png"/>

                    <div class="unit-type-cont">
                        <%== format_stat("type", unit_details['role'].downcase) %>
                        <%== format_stat("element", unit_details['attribute'].downcase) %>
                    </div>
                  </a>
            <h6 class="unit-profile-title"><%= upcase_name(unit) %></h6>
        </div>
    <% end %> <!-- if loop -->
  <% end %> <!-- unit.each loop -->
 </div>
 <% end %>
<% end %> <!-- tiers.each end -->
<% end %> <!-- sortedby.each end -->
</div>

</div>
