<div class="home-cont main-cont">

<div class="container-fluid">

<form class="name-list">


  <% ['5','4'].each do |star| %>
  <h3><%= star %> Star units:</h3>
<ul class="">
<% @names.each do |id, name, stars| %>
<% next if stars != star %>
<li class='<%= name.downcase.gsub(/\'/, "") %>'>
<input class="unit-names" name="checkboxes" id="<%= name %>" type="checkbox" value="<%=name %>"><%= upcase_name(name) %></input>
</li>
<% end %>
</ul>
<% end %>

<input id="sendbutton" type="submit" value="Send">
</form>

</div>

</div>
