<div id="profiles">

<!-- delete popping class from below -->
<div class="comparison-profile-container">
 <button type="button" class="btn btn-success btn-xs exit-button2" style="visibility: hidden;">X</button>
  <div  class="special-links">
    <% stars = @mainstats1['stars'] %>
    <!-- <button type="button" class="" id="back" onclick="goBack()">Go Back</button> -->
    <button type="button" class="mobile-button" id="pic-button1" onClick="return mobileHide('small')">Show Small pictures</button>
    <button type="button" class="mobile-button" id="pic-button2" onClick="return mobileHide('full')">Show Full picture</button>
  <% if session[:username] %>
    <a href="/edit_unit/<%= @unit1 %>"><button type="button" class="btn btn-primary btn-xs">Edit</button></a>
    <% end %>
  </div>

  <h3 class="unit_name"><%= upcase_name(@unit1) %></h3>

  <div class="profile-container">
    <div class="pro-img-container mobile">
      <% @pics1.each do |key, value| %>
      <% break if ['pic2', 'pic3', 'pic4'].include?(key) && value.include?('emptyunit0') %>
      <img class="pro-image-small hide pic-mobile" src="<%= value %>" alt="<%= value %>"/>
      <% end %>
      <img class="pro-image-full pic-mobile" src="<%= get_img_link(@unit1) %>" alt="<%= @unit1 %>.png"/>
    </div>
    <div class="stats-container">

      <div class="mainstats-container">
        <% @mainstats1.each do |info_key, info_val| %>
        <div class="main-stat-div">
          <% if ['stars', 'type', 'element'].include?(info_key) %>
            <h5 class="card-title"><%= info_key.capitalize %>:</h5>
            <p class="mainstats">
              <%== format_stat(info_key, info_val) %>
            </p>
          <% elsif info_key == "tier" %>
            <h5 class="card-title"><%= info_key.capitalize %> (PVE/PVP/Ragna/WB):</h5>
            <p class="mainstats">
              <%== format_stat(info_key, info_val).split(" ").join(" / ") %>
            </p>
          <% else %>
            <h5 class="card-title"><%= info_key.capitalize %>:</h5>
            <p class="mainstats"><%== format_stat(info_key, info_val) %></p>
          <% end %>
        </div>
        <% end %>
    </div>

    <% @substats1.each do |info_key, info_val| %>
    <div class="sub-stat-div">
      <h5 class="card-title"><%= info_key.capitalize %>:</h5>
        <% if info_key == 'date' %>

        <% else %>

          <% info_val.split(". ").each do |line| %>
            <% if line[-1] != '.' %>
            <p><strong>路</strong> <%= line + "." %></p>
            <% else %>
            <p><strong>路</strong> <%= line %></p>
            <% end %>
          <% end %>
      <% end %>
    </div>
    <% end %>

    <div class="sub-stat-div">
      <h5 class="card-title">Date:</h5>
      <p>Date added(Tokyo): <%= @date1 %></p>
    </div>

</div>
</div>
</div>


<div class="comparison-profile-container">
   <div  class="special-links">
    <% stars = @mainstats2['stars'] %>
    <!-- <button type="button" class="" id="back" onclick="goBack()">Go Back</button> -->
    <button type="button" class="mobile-button" id="pic-button1" onClick="return mobileHide('small')">Show Small pictures</button>
    <button type="button" class="mobile-button" id="pic-button2" onClick="return mobileHide('full')">Show Full picture</button>
  <% if session[:username] %>
  <a href="/edit_unit/<%= @unit2 %>"><button type="button" class="btn btn-primary btn-xs">Edit</button></a>
    <% end %>
  </div>

  <h3 class="unit_name"><%= upcase_name(@unit2) %></h3>

  <div class="profile-container">
    <div class="pro-img-container mobile">
      <% @pics2.each do |key, value| %>
      <% break if ['pic2', 'pic3', 'pic4'].include?(key) && value.include?('emptyunit0') %>
      <img class="pro-image-small hide pic-mobile" src="<%= value %>" alt="<%= value %>"/>
      <% end %>
      <img class="pro-image-full pic-mobile" src="<%= get_img_link(@unit2) %>" alt="<%= @unit2 %>.png"/>
    </div>
    <div class="stats-container">

      <div class="mainstats-container">
        <% @mainstats2.each do |info_key, info_val| %>
        <div class="main-stat-div">
          <% if ['stars', 'type', 'element'].include?(info_key) %>
            <h5 class="card-title"><%= info_key.capitalize %>:</h5>
            <p class="mainstats">
              <%== format_stat(info_key, info_val) %>
            </p>
          <% elsif info_key == "tier" %>
            <h5 class="card-title"><%= info_key.capitalize %> (PVE/PVP/Ragna/WB):</h5>
            <p class="mainstats">
              <%== format_stat(info_key, info_val).split(" ").join(" / ") %>
            </p>
          <% else %>
            <h5 class="card-title"><%= info_key.capitalize %>:</h5>
            <p class="mainstats"><%== format_stat(info_key, info_val) %></p>
          <% end %>
        </div>
        <% end %>
    </div>

    <% @substats2.each do |info_key, info_val| %>
    <div class="sub-stat-div">
      <h5 class="card-title"><%= info_key.capitalize %>:</h5>
        <% if info_key == 'date' %>

        <% else %>

          <% info_val.split(". ").each do |line| %>
            <% if line[-1] != '.' %>
            <p><strong>路</strong> <%= line + "." %></p>
            <% else %>
            <p><strong>路</strong> <%= line %></p>
            <% end %>
          <% end %>
      <% end %>
    </div>

    <% end %>

    <div class="sub-stat-div">
      <h5 class="card-title">Date:</h5>
      <p>Date added(Tokyo): <%= @date2 %></p>
    </div>

</div>
</div>
</div>

</div>
