<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<div class="container-fluid">

    <form action="/new_unit" method="post" enctype="multipart/form-data">
        <dl>
            <dt>
                <label for="current_unit_name">Unit name:</label>
            </dt>
            <dd>
                <input class="content" name="current_unit_name" placeholder="" type="text" value="<%= @new_profile['en_name'] || :unit_name %>" readonly="readonly">
                <input name="edited" type="checkbox" required> Check box to enable editing
            </dd>
            <dt>
                <label for="en_name">Enter a unit name:</label>
            </dt>
            <dd>
                <input class="content" name="en_name" placeholder="" type="text"  value="">
            </dd>
            <dd>
                Enable this unit?(Makes it visible)<input type="hidden" name="enabled" value="0"><input type="checkbox" onclick="$(this).prev().val(1 - $(this).prev().val())">
            </dd>

            <% @new_profile.each do |col_name, col_value| %>
            <% next if col_name == 'en_name' || col_name == 'enabled' || col_name.include?('image')%>

            <dt>
                <label for="<% col_name %>"><%= col_name.capitalize %> info:</label>
                <% if col_name == 'notes' %>
                <label for="tooltip">Tooltip skils <a class='tooltip' style="color: orange;">--- Hover me ---<span class='tooltiptext'>Units: $' ' |  SC: #' ' | Pics: ^' '</span></a></label>
                <% end  %>
            </dt>
            <dd>
                <% if col_name == "jp_name" %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value || '' %>"> Example: attacker, healer, tank, buffer, debuffer
                <% elsif col_name == "kr_name" %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value %>"> Example: water, fire, grass, light, dark
                <% elsif col_name == "tiers" %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value %>">
                <% elsif col_name == "tiers2" %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value %>"> [tiers2] is only for ignited units.
                <% elsif col_name == "idx" || col_name == 'code' %>
                <% if col_name == 'code' %>
                    <input class="content" name="code" placeholder="" type="text"  value="<%= @code %>" style="background-color: grey" readonly>
                <% else %>
                  <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value %>">
                <% end %>

                <% elsif col_name == "date"  %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value %>"> Can leave empty.
                <% else %>
                <textarea class="content" name="<%= col_name %>" rows="5" cols="50"><%= col_value %></textarea>
                <% end %>
            </dd>
            <% end %>
          </dl>
        <fieldset class="actions">
            <button type="submit" value="Save" onClick="return confirmMe('Save the data as-is')">Save</button>
            <a href="/">Cancel</a>
        </fieldset>
    </form>
</div>
