<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<div class="container-fluid">

  <form action="/new_sc" method="post" enctype="multipart/form-data">
    <dl>
      <dt>
          <label for="current_unit_name">Unit name:</label>
        </dt>
        <dd>
          <input class="content" name="current_sc_name" placeholder="" type="text" value="<%= @new_profile['name'] || params[:sc_name] %>" readonly="readonly">
          <input name="edited" type="checkbox" required> Check box to enable editing
        </dd>
      <dt>
        <label for="sc_name">Enter a New SoulCard name:</label>
      </dt>
      <dd>
        <input class="content" name="sc_name" placeholder="" type="text"  value="">
      </dd>
        <% @profile_pic_table.each do |col_name, col_value| %>
          <% if col_name.include?('pic') %>
<p> Enter the name of the uploaded image!</p>
            <input class="content pic-input-tag" name="<%= col_name %>" placeholder="file-name" type="text"  value="<%= col_value %>">
          <% end %>
        <% end %>

      <% @new_profile.each do |col_name, col_value | %>
      <% next unless %w(name notes name grade date idx).include?(col_name) %>

      <dt>
        <label for="<% col_name %>"><%= col_name.capitalize %> info:</label>
        <% if col_name == 'notes' %>
          <label for="tooltip">Tooltip skils <a class='tooltip' style="color: orange;">--- Hover me ---<span class='tooltiptext'>Units: $' ' |  SC: #' ' | Pics: %' '</span></a></label>
        <% end  %>
      </dt>
      <dd>
        <% if col_name == "idx" %>
          <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value %>" readonly>
        <% elsif col_name == "created_on" %>
            <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value %>"> Can leave empty unless not current date.
        <% elsif col_name == 'stars' %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_value  || 5%>">
        <% else %>
          <% if col_name == 'notes' %>
          <textarea class="content" name="<%= col_name %>" rows="5" cols="50"><%= col_value %></textarea>
         <% else %>
           <input class="content" name="<%= col_name %>" placeholder="" value="<%= col_value %>">
         <% end %>
        <% end %>
      </dd>
      <% end %>
    </dl>
    <fieldset class="actions">
      <button type="submit" value="Save" onClick="return confirmMe('Save the data as-is')">Save</button>
      <a href="/">Cancel</a>
    </fieldset>
  </form>
</div>
