
<div class="container-fluid">

  <form action="/new_sc" method="post" enctype="multipart/form-data">
    <dl>
      <dt>
        <label for="sc_name">Enter a SoulCard name:</label>
      </dt>
      <dd>
        <input class="content" name="sc_name" placeholder="" type="text"  value="<%= @name || params[:sc_name] %>" required>
        <input name="edited" type="checkbox" required> Check box to enable editing
        <input name="edited_db" type="checkbox" required> Check box to enable DB editing
      </dd>
      <dd>
        SOULCARD is Prism version? <input type="hidden" name="isprism" value="0"><input type="checkbox"  onclick="$(this).prev().val(1 - $(this).prev().val())">
      </dd>
        <% @profile_pic_table.each do |col_name| %>
            <label for="upload"><em>upload a file or enter filename (from server)</em></label>
            <!-- <button type="button" class="mobile-button" id="pic-button2" onClick="return uploadImage('')">Upload an image</button> -->
<p> Enter the name of the uploaded image!</p>

          <input type="file" name="file" value="upload">
          <input class="content pic-input-tag" name="<%= col_name %>" placeholder="file-name" type="text"  value="">
          <!-- <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] %>"> -->
        <% end %>
      <% @new_profile.each do |col_name, col_val| %>
        <% next if ['options', 'options_max', 'text_max', 'notes', 'name'].include?(col_name) %>
      <dt>
        <label for="<% col_name %>"><%= col_name.capitalize %> info:</label>        <% if col_name == 'notes' %>
          <label for="tooltip">Tooltip skils <a class='tooltip' style="color: orange;">--- Hover me ---<span class='tooltiptext'>Units: $' ' |  SC: #' ' | Pics: ^' '</span></a></label>
        <% end  %>
      </dt>
      <dd>
        <% if col_name == "dbcode" %>
          <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= @max_idx %>" readonly>
          <% elsif col_name == "code" || col_name == 'view_idx' %>
              <input class="content" name="<%= col_name %>" placeholder="leave as is!" type="text"  value="<%= col_val %>">
            <% elsif col_name == "idx" || col_name == 'idx2' %>
            <input id='idx' class="content" name="<%= col_name %>" placeholder="7 digit num ref in db" type="text" value="<%= col_val %>" required> Don't leave empty. Enter any 7 digits.
            <input id='idx' class="content" name="idx2" placeholder="7 digit num ref in db" type="text" value="<%= @soulcard_prism['idx'] %>" required> Don't leave empty. Enter any 7 digits.
          <% elsif col_name == "date" %>
            <input class="content" name="<%= col_name %>" placeholder="2020-01-01" type="text"  value="<%= col_val %>"> Can leave empty unless not current date.
        <% elsif col_name == 'grade' %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_val %>">
        <% elsif ['normalstat1','normalstat2','prismstat1','prismstat2'].include?(col_name) %>
              <input class="content" name="<%= col_name %>" placeholder="Attack 0 0" type="text"  value="<%= col_val.join(" ") %>" required>
      <% elsif col_name.include?('name') %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= col_val %>"> Can leave empty.
        <% elsif col_name.include?('text') ||  col_name.include?('restriction') %>
          <textarea class="content" name="<%= col_name %>" rows="5" cols="50"><%= col_val %></textarea>
        <% else %>
          <textarea class="content" name="<%= col_name %>" rows="5" cols="50"><%= col_val %></textarea>
        <% end %>
      </dd>
      <% end %>
    </dl>
    <fieldset class="actions">
      <button type="submit" value="Save" onClick="return confirmMe('Save the data as-is')">Save</button>
      <a href="/">Cancel</a>
    </fieldset>
  </form>
</div>
