
<div class="file-container ">
<% @units.each do |unit| %>
  <div class="col file-list-box">
     <% unless unit.nil? %>
       <div><%= unit %></div>
       <% image = unit.values[3].gsub('/images/', '')%>
       <% if unit.keys.include?('pic2') %>
       <% image2 = get_img_link(unit["name"], true) %>
          <img class="pro-image-full pic-mobile" src="<%= image2 %>" styles="max-height: 100px;" alt="<%= @unit %>.png"/>
          <div>
          <a  href="<%= image2 %>">Download file</a>
          </div>
        <% else %>
          <img src="https://res.cloudinary.com/mnyiaa/image/upload/v1583811793/riceminejp/<%= image %>">
          <div>
          <a  href="https://res.cloudinary.com/mnyiaa/image/upload/v1583811793/riceminejp/<%= image %>" target="_blank">Download file</a>
          </div>
        <% end %>

     <% end %>
  </div>
<% end %>
<% @soulcards.each do |card| %>
  <div class="col file-list-box">
     <% unless card.nil? %>
       <div><%= card %></div>
       <% image = card.values[3].gsub('/images/sc/', '').gsub("'", '_')%>
        <img src="https://res.cloudinary.com/mnyiaa/image/upload/c_scale,h_155,q_70,w_100/riceminejp/sc/<%= image %>">
        <div>
        <a  href="https://res.cloudinary.com/mnyiaa/image/upload/c_scale,h_155,q_70,w_100/riceminejp/sc/<%= image %>" target="_blank">Download file</a>
      </div>
     <% end %>
  </div>
<% end %>
</div>
