
<div class="container">
<div class="row">
<% @units.each do |name| %>
  <div class="col file-list-box">
     <% unless name.nil? %>
       <div><%= name %></div>
        <img src="../images/<%= name %>">
        <div>
        <a  href="/download/<%= name %>">Download file</a>
      </div>
      <a href="/show_files/<%= name %>/remove">Delete</a>
     <% end %>
  </div>
<% end %>
<% @soulcards.each do |name| %>
  <div class="col file-list-box">
     <% unless name.nil? %>
       <div><%= name %></div>
        <img src="../images/sc/<%= name %>">
        <div>
        <a  href="/download/<%= name %>">Download file</a>
      </div>
      <a href="/show_files/<%= name %>/remove">Delete</a>
     <% end %>
  </div>
<% end %>

</div>
</div>
