<div id="new-arrival"> Hello </div>
<div class="home-cont main-cont">

<h4 class="recent-update">Recent Child Updates</h4>

    <div class="unit-cont container">
    <% @unit.each do |unit_details| %>
    <% unit = unit_details[1] %>
    <% rating = unit_details[4] + "stars" %>
        <div class="unit-grid-cols">

            <% if !session[:username]%>
            <div class="edit-remove-buttons">
              <a href="/childs/<%= rating %>/<%= unit %>/edit">Edit</a>|
              <a href="/childs/<%= rating %>/<%= unit %>/remove" onClick="return checkMe('<%= unit %>')">Remove</a>
            </div>
            <% end %>

              <a class="linkaddress" href="/childs/<%= rating %>/<%= unit %>">
                <img class="profile_imgs" src="<%= unit_details[5] %>" alt="<%= unit %>"/>
                </a>
            <div class="unit-type-cont">
                <%== format_stat("type", unit_details[2]) %>
                <%== format_stat("element", unit_details[3]) %>
            </div>
            <h6 class="unit-profile-title"><%= upcase_name(unit) %></h6>
        </div>
    <% end %>
    </div>

<h4 class="recent-update">Recent Soul-Card Updates</h4>
    <div class="sc-cont container">
      <% @soulcards.each do |card| %>
      <div class="sc-grid-col">
          <% if session[:username] %>
          <div class="edit-remove-buttons">
            <a href="/soulcards/<%= card[0] %>/edit">Edit</a>|
            <a href="/soulcards/<%= card[0] %>/remove" onClick="return checkMe('<%= card[0] %>')">Remove</a>
          </div>
          <% end %>

            <a class="linkaddress" href="/soulcards/<%= card[0] %>">
              <img class="sc_index_pic" src="<%= card[1] %>" alt="<%= card %>"/>
            </a>
          <h6 class="sc-index-title"><%= upcase_name(card[0]) %></h6>
      </div>
  <% end %>
  </div>
  </div>
