<div class="home-cont main-cont">

<h4 class="recent-update">Recent Child Updates</h4>

    <div class="unit-cont container">
    <% @unit.each do |unit_details| %>
    <% unit = unit_details[1] %>
    <% rating = unit_details[4] + "stars" %>
        <div class="unit-grid-cols">
                <a class="linkaddress" href="/childs/<%= rating %>/<%= unit %>">
                  <% image = unit_details[5].gsub('/images/', '')%>
                  <img class="profile_imgs <%=unit_details[5] %>" src="https://res.cloudinary.com/mnyiaa/image/upload/v1583811793/riceminejp/<%= image %>" alt="<%= unit %>"/>
                </a>
            <div class="unit-type-cont">
                <%== format_stat("type", unit_details[2]) %>
                <%== format_stat("element", unit_details[3]) %>
            </div>
            <h6 class="unit-profile-title"><%= upcase_name(unit) %></h6>
        </div>
    <% end %>
    </div>

<h4 class="recent-update">Recent Soul-Card Updates</h4>
    <div class="sc-cont container">
      <% @soulcards.each do |card| %>
      <div class="sc-grid-col">
            <a class="linkaddress" href="/soulcards/<%= card[2] %>/<%= card[0] %>">
                <% image = card[1].gsub('/images/sc/', '').gsub("'", '_')%>
              <img class="sc_index_pic" src="https://res.cloudinary.com/mnyiaa/image/upload/riceminejp/sc/<%= image %>" alt="<%= card %>"/>
            </a>
          <h6 class="sc-index-title"><%= upcase_name(card[0]) %></h6>
      </div>
  <% end %>
  </div>
  </div>
