<div class="container-fluid">

  <form action="/new_unit" method="post" enctype="multipart/form-data">
    <dl>
      <dt>
        <label for="unit_name">Enter a unit name:</label>
      </dt>
      <dd>
        <input class="content" name="unit_name" placeholder="" type="text"  value="<%= params[:unit_name] %>" required>
      </dd>
      <dd>
        Enable this unit?(Makes it visible)<input type="hidden" name="enabled" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
      </dd>
        <% @profile_pic_table.each do |col_name| %>
          <% next if col_name == 'unit_id' %>
          <% if col_name.include?('pic') %>
            <label for="upload"><em>upload a file or enter filename (from server)</em></label>
            <input type="file" name="file<%= col_name %>" value="upload">
            <input class="content pic-input-tag" name="<%= col_name %>" placeholder="file-name" type="text"  value="<%= params[col_name.to_sym] %>">
          <% else %>
            <%= col_name.capitalize %>
            <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] %>">
          <% end %>
        <% end %>

      <% @new_profile.each do |col_name| %>
      <% next if col_name == 'name' %>

      <dt>
        <label for="<% col_name %>"><%= col_name.capitalize %> info:</label>
      </dt>
      <dd>
        <% if special_key?(col_name) || short_stat_key?(col_name) %>
            <% if col_name == "type" %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] || '' %>"> Example: attacker, healer, tank, buffer, debuffer
            <% elsif col_name == "element" %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] %>"> Example: water, fire, grass, light, dark
              <% elsif col_name == "stars" %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="5">

              <% else %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] %>">
            <% end %>
            <% elsif col_name == "id" %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= @new_id %>" disabled>
              <% elsif col_name == "created_on"  %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= @new_id %>"> Can leave empty.
        <% else %>
          <textarea class="content" name="<%= col_name %>" rows="5" cols="50"></textarea>
        <% end %>
      </dd>
      <% end %>
      <label for="skill_dump">QUICK: Dump skill info here</label>
      <textarea class="content" name="skill_dump" rows="5" cols="50"></textarea>
    </dl>
    <fieldset class="actions">
      <button type="submit" value="Save">Save</button>
      <a href="/">Cancel</a>
    </fieldset>
  </form>
</div>
