<div class="main-cont">
<div class="idx-sc-cont sc-cont">
  <% @soulcards.each do |card| %>
    <% next if card['idx'] == '' %>
  <div class="sc-grid-col">
      <% if user_signed_in? %>
      <div class="edit-remove-buttons">
        <a href="/edit_sc/<%= card['en_name'] %>">Edit</a>|
        <a href="/sc_remove/<%= card['en_name'] %>" onAuxClick="event.preventDefault();" onClick="return checkMe('<%= card['en_name'] %>')">Remove</a>
      </div>
      <% end %>

      <a class="linkaddress" href="/soulcards/<%= card['grade'] %>/<%= card['en_name'] %>">
          <% image = card['image1'].gsub('/images/sc/', '').gsub(/[^a-z^\.^3^4^5]/i,'')%>
        <img class="sc_index_pic" src="<%= get_image_link(card['idx'], card['image1']) %>" alt="<%= image %>"/>
      </a>
        <% if card['enabled'] == 'f' %>
          <h6 class="sc-index-title"  style="background-color: #f9c34a; color: black;"><%= upcase_name(card['en_name']) %></h6>
          <% else %>
            <h6 class="sc-index-title"><%= upcase_name(card['en_name']) %></h6>
          <% end %>
  </div>
<% end %>
</div>
</div>
