<div class="main-cont">
<div class="idx-sc-cont sc-cont">
  <% @soulcards.each do |card| %>
  <div class="sc-grid-col">
      <% if user_signed_in? %>
      <div class="edit-remove-buttons">
        <a href="/edit_sc/<%= card[0] %>">Edit</a>|
        <a href="/sc_remove/<%= card[0] %>" onClick="return checkMe('<%= card[0] %>')">Remove</a>
      </div>
      <% end %>

        <a class="linkaddress" href="/soulcards/<%= card[2] %>/<%= card[0] %>">
            <% image = card[1].gsub('/images/sc/', '').gsub("'", '_')%>
          <img class="sc_index_pic" src="https://res.cloudinary.com/mnyiaa/image/upload/c_scale,h_155,q_70,w_100/riceminejp/sc/<%= image %>" alt="<%= card[0] %>"/>
        </a>
      <h6 class="sc-index-title"><%= upcase_name(card[0]) %></h6>
  </div>
<% end %>
</div>
</div>
