<div class="home-cont main-cont">

<h4 class="recent-update">Units</h4>

    <div class="unit-cont container">
    <% @unit.each do |unit_details| %>
    <% next if unit_details['enabled'] == 'f' %>
    <% unit = unit_details['en_name'] %>
    <% rating = unit_details['stars'].to_s + "stars" %>
        <div class="unit-grid-cols">
          <a class="linkaddress" href="/childs/<%= rating %>/<%= unit %>">
            <% image = unit_details['char_code'].gsub('/images/', '')%>
            <img class="profile_imgs <%=unit_details['char_code'] %>" src="/images/portraits/<%= unit_details['char_code'][0..4] + '02' %>.png"/>

        <div class="unit-type-cont">
            <%== format_stat("type", unit_details['role'].downcase) %>
            <%== format_stat("element", unit_details['attribute'].downcase) %>
        </div>
      </a>
            <h6 class="unit-profile-title"><%= upcase_name(unit) %></h6>
        </div>
    <% end %>
    </div>

    <h4 class="recent-update">Matched skills</h4>
    <div class="unit-cont container">
    <% @unit2.each do |unit_details| %>
    <% next if unit_details['enabled'] == 'f' %>
    <% unit = unit_details['en_name'] %>
    <% rating = unit_details['stars'].to_s + "stars" %>
        <div class="unit-grid-cols">
          <a class="linkaddress" href="/childs/<%= rating %>/<%= unit %>">
            <% image = unit_details['char_code'].gsub('/images/', '')%>
            <img class="profile_imgs <%=unit_details['char_code'] %>" src="/images/portraits/<%= unit_details['char_code'][0..4] + '02' %>.png"/>

        <div class="unit-type-cont">
            <%== format_stat("type", unit_details['role'].downcase) %>
            <%== format_stat("element", unit_details['attribute'].downcase) %>
        </div>
      </a>
            <h6 class="unit-profile-title"><%= upcase_name(unit) %></h6>
        </div>
    <% end %>
    </div>

  </div>
