<div class="container-fluid">
  <p class="special-links" ><a href="/">BACK TO MAIN MENU</a></p>

<h4>Unit details:</h4>
<p>There are <%= @unit_details.ntuples %> units in the file. </p>
<p><strong>Their names are:</strong> <%= @unit_details.values.flatten %></p>
<p>Total characters: <%= @unit_details.to_a.flatten.join("").split(" ").join("").size %><p>
<p>-------------------</p>

<p class="special-links" ><a href="/download/unit_details.yml">Get unit details</a></p>

<h4>Soulcard details:</h4>
<p>There are <%= @sc_details.ntuples %> Soulcards in the file. </p>
<p><strong>Their names are:</strong> <%= @sc_details.values.flatten %></p>
<p>Total characters: <%= @sc_details.to_a.flatten.join("").split(" ").join("").size %><p>
<p>-------------------</p>

<p class="special-links" ><a href="/download/soul_cards.yml">Get soulcard details</a></p>


<h4>Main page information Notice:</h4>

<p class="special-links" ><a href="/download/maininfo.yml">Get main page notes</a></p>
<p class="special-links" ><a href="/download/basics.md">Get starterguide file</a></p>


</div>
