<div class="">
<h4>Recent Soul-Card Updates</h4>
<div class="sc-cont">
  <% @soulcards.each do |card| %>
  <div class="sc-grid-col">
      <% if session[:username] %>
      <div class="edit-remove-buttons">
        <a href="/soulcards/<%= card[0] %>/edit">Edit</a>|
        <a href="/soulcards/<%= card[0] %>/remove" onClick="return checkMe('<%= card[0] %>')">Remove</a>
      </div>
      <% end %>

        <a class="linkaddress" href="/soulcards/<%= card[0] %>">
          <img class="sc_index_pic" src="<%= card[1] %>" alt="<%= card %>"/>
        </a>
      <h6 class="sc-profile-title"><%= upcase_name(card[0]) %></h6>
  </div>
<% end %>
</div>
</div>
