<div class="main-cont">
  <div class="rating-selector">

        <div class="rating-selector-groups">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stars</a>
       <div class="dropdown-menu">
     <a id="5stars" href="/soulcards/5" onClick='return checkUrl("5")'>  5★  </a>
     <a id="4stars" href="/soulcards/4" onClick='return checkUrl("4")'>  4★  </a>
     <a id="3stars" href="/soulcards/3" onClick='return checkUrl("3")'>  3★  </a>
   </div>
 </div>
 </div>
<div class="idx-sc-cont sc-cont">
  <% @soulcards.each do |card| %>
  <div class="sc-grid-col">
        <a class="linkaddress" href="/soulcards/<%= card[2] %>/<%= card[0] %>">
            <% image = card[1].gsub('/images/sc/', '').gsub("'", '_')%>
          <img class="sc_index_pic" src="https://res.cloudinary.com/mnyiaa/image/upload/c_scale,h_155,q_70,w_100/riceminejp/sc/<%= image %>" alt="<%= card %>"/>
        </a>
      <h6 class="sc-index-title"><%= upcase_name(card[0]) %></h6>
  </div>
<% end %>
</div>
</div>
