<div class="main-cont">
  <div class="rating-selector">
     <a id="5stars" href="/soulcards/5" onClick='return checkUrl("5")'> 5stars  </a>
     <a id="4stars" href="/soulcards/4" onClick='return checkUrl("4")'>  4stars  </a>
     <a id="3stars" href="/soulcards/3" onClick='return checkUrl("3")'>  3stars  </a>
   </div>
<div class="idx-sc-cont sc-cont">
  <% @soulcards.each do |card| %>
  <div class="sc-grid-col">
      <% if session[:username] %>
      <div class="edit-remove-buttons">
        <a href="/soulcards/<%= card[0] %>/edit">Edit</a>|
        <a href="/sc_remove/<%= card[0] %>" onClick="return checkMe('<%= card[0] %>')">Remove</a>
      </div>
      <% end %>

        <a class="linkaddress" href="/soulcards/<%= card[2] %>/<%= card[0] %>">
            <% image = card[1].gsub('/images/sc/', '').gsub("'", '_')%>
          <img class="sc_index_pic" src="https://res.cloudinary.com/mnyiaa/image/upload/c_scale,h_155,q_70,w_100/riceminejp/sc/<%= image %>" alt="<%= card %>"/>
        </a>
      <h6 class="sc-index-title"><%= upcase_name(card[0]) %></h6>
  </div>
<% end %>
</div>
</div>
