<div class="main-cont">
  <div class="unit-cont container">
  <% @unit.each do |unit_details| %>
  <% unit = unit_details[1] %>
  <% rating = unit_details[4] + "stars" %>
      <div class="unit-grid-cols">
        <% if user_signed_in? %>
        <div class="edit-remove-buttons">
              <a href="/edit_unit/<%= upcase_name(unit) %>">Edit</a> |
              <a href="/unit_remove/<%= unit %>" onClick="return checkMe('<%= unit %>')">Remove</a>
      </div>
        <% end %>
              <a class="linkaddress" href="/childs/<%= rating %>/<%= unit %>">
                <% image = unit_details[5].gsub('/images/', '')%>
                <img class="profile_imgs <%=unit_details[5] %>" src="https://res.cloudinary.com/mnyiaa/image/upload/v1583811793/riceminejp/<%= image %>" alt="<%= unit %>"/>
              </a>
          <div class="unit-type-cont">
              <%== format_stat("type", unit_details[2]) %>
              <%== format_stat("element", unit_details[3]) %>
          </div>
          <h6 class="unit-profile-title"><%= upcase_name(unit) %></h6>
      </div>
  <% end %>
  </div>

</div>
