<div id="viewing_profile"></div>

<% code = @pics.values[0][0..4] + '02' %>
<!-- delete popping class from below -->
<div class="main-profile-container">
  <!-- <button type="button" class="btn btn-warning btn-xs exit-button2" style="visibility: hidden;">X</button> -->
  <div  class="special-links">

<button type="button" class="mobile-button" id="pic-button1" onClick="return mobileHide('small', '<%= code %>')">Show Portrait</button>
    <button type="button" class="mobile-button" id="pic-button2" onClick="return mobileHide('full', '<%= code %>')">Show Full</button>
    <button type="button" class="mobile-button" id="pic-button2" ><a class="linkaddress" href="/childs/<%= @mainstats['stars'] %>/<%= @unit %>">NORMAL</a></button>

  </div>

 <h3 class="unit_name"><%= upcase_name(@unit) %> <span class='subname' style="font-size: 13px;">(<%= upcase_name(@char_info['char_jp_name']) %>)</span></h3>
  <div class="profile-container">
    <div class="pro-img-container mobile">
      <% @pics.each do |key, value| %>
      <% break if ['pic2', 'pic3', 'pic4'].include?(key) && (value.include?('emptyunit0') || value.empty?) %>
      <% next if value.nil?; image = value.gsub('/images/', '')%>
      <a href="https://live2d-dcg.github.io/viewerK.html?mN=<%= image %>&amp;size=900&amp;mS=1&amp;mX=0&amp;mY=0" target="_blank"><img class="pro-image-small pic-mobile" src="/images/portraits/<%= value %>.png" alt="<%= image %>.png"/></a>

      <% end %>
      <% image = @unit.gsub('/images/', '').gsub("'", '_')%>
      <div class="pro-image-full pic-mobile hide">
      </div>
    </div>
    <div class="stats-container">
      <div class="mainstats-container">
        <% @mainstats.each do |info_key, info_val| %>
        <div class="main-stat-div">
          <% if ['stars', 'role', 'attribute'].include?(info_key) %>
          <h5 class="card-title"><%= info_key.capitalize %>:</h5>
          <p class="mainstats">
            <%== format_stat(info_key, info_val) %>
          </p>
          <% elsif info_key == "tier" %>
          <h5 class="card-title"><%= info_key.capitalize %> (PVE / PVP / RAID / WB):</h5>
          <p class="mainstats">
            <%== format_stat(info_key, info_val).split(" ").join(" / ") %>
          </p>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="substats-container">
        <% @substats.each do |info_key, info_val| %>
        <% next if info_key == 'date' %>
        <div class="sub-stat-div">
          <h5 class="card-title"><%= info_key.capitalize %>:</h5>
          <% if info_key != 'date' %>

            <% if @buffs.keys.include?(info_key + "_buffs_path") %>
              <div class="buff-container">
                <% @buffs[info_key + "_buffs_path"].each do |path| %>
                <% next if path == 'none' || path.nil? %>
                <img class="buff_icons" src="<%= path %>" alt="path">
                <% end %>
              </div>
            <% end %>

            <% info_val.split(/(?<=[.?!])\s+(?=[A-Z])|(\\+)/).each do |line| %>
              <% next if info_key == 'notes' || line == '\\' %>
              <p><strong>·</strong> <%== insert_tooltip(line, @skill_details, info_key) + "."%></p>
            <% end %>

            <% info_val.split(/(?<=[.?!])\s+(?=[A-Z])|(\\+)/).each do |line| %>
              <% next if info_key != 'notes' || line == '\\' %>
              <% tip = insert_tooltip(line) %>
              <% tip = get_ref_to_info(line) %>
              <p><strong>·</strong> <%== (tip[-1] == "." ? tip : tip + '.') unless tip.empty? %></p>
            <% end %>
          <% end %>
        </div>
        <% end %>
        <div class="sub-stat-div">
          <h5 class="card-title">Date:</h5>
          <p>Date added(Tokyo): <%= @substats['date'] %></p>
        </div>
      </div>
    </div>
  </div>
</div>
