<div id="viewing_profile"></div>

    <div class="main-profile-container">
      <button type="button" class="btn btn-success btn-xs exit-button2" style="visibility: hidden;">X</button>
        <% 1.times do |_| %>
				<% sc = @soulcard[0] %>
        <% rating = sc[2] %>
      <div class="sc-profile-container">

      <h6 class="sc-profile-title"><%= upcase_name(sc[0]) %></h6>
        <div class="sc-img-container">
          <% image = sc[1].gsub('/images/sc/', '').gsub("'", '_')%>
              <img class="sc_profile_pic" s src="https://res.cloudinary.com/mnyiaa/image/upload/c_scale,h_333,q_70,w_200/riceminejp/sc/<%= image %>" alt="<%= sc[1] %>"/>
</div>

            <div class="sub-stat-div">
              <h5 class="card-title">Stars:</h5>
            <%== format_stat('stars', sc[2]) %>

            </div>
      <div class="sub-stat-div">
      <h5 class="card-title">Normal:</h5>
          <table style="width:100%">
            <tr>
                <td colspan="2"></td>
                <th class="tt1" colspan="2">L1</th>
                <th class="tt1" colspan="2">L<%= rating %>0 +0</th>
                <th class="tt1" colspan="2">L<%= rating %>0 +<%= rating %></th>
              </tr>
          <tr>
            <th class="tt1" colspan="2"><%= split_sc_stat(sc[3], 0).upcase %></th>
            <td class="tt1" colspan="2"><%= split_sc_stat(sc[3], 1) %></td>
            <td class="tt1" colspan="2"><%= split_sc_stat(sc[3], 2) %></td>
            <td class="tt1" colspan="2"><%= split_sc_stat(sc[3], 3) %></td>
          </tr>
          <tr>
              <th class="tt1" colspan="2"><%= split_sc_stat(sc[4], 0).upcase %></th>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[4], 1) %></td>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[4], 2) %></td>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[4], 3) %></td>
            </tr>

            </table>
          </div>
					<% if !sc[5].empty? && !sc[6].empty? %>
                    <div class="sub-stat-div">
                          <h5 class="card-title">Prism:</h5>
          <table style="width:100%">
                            <tr>
                <td colspan="2"></td>
                <th class="tt1" colspan="2">L1</th>
                <th class="tt1" colspan="2">L<%= rating %>0 +0</th>
                <th class="tt1" colspan="2">L<%= rating %>0 +<%= rating %></th>
              </tr>
          <tr>
              <th class="tt1" colspan="2"><%= split_sc_stat(sc[5], 0).upcase %></th>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[5], 1) %></td>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[5], 2) %></td>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[5], 3) %></td>
            </tr>
          <tr>
              <th class="tt1" colspan="2"><%= split_sc_stat(sc[6], 0).upcase %></th>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[6], 1) %></td>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[6], 2) %></td>
              <td class="tt1" colspan="2"><%= split_sc_stat(sc[6], 3) %></td>
            </tr>
            </table>
            </div>
          <% end %>

          <div class="sub-stat-div">
                <h5 class="card-title">Passive:</h5>
          <table style="width:100%">
            <tr>
              <th class="tt1" colspan="2">Restrictions</th>
              <td class="tt1" colspan="2"><%= sc[7].capitalize %></td>
            </tr>
            <tr>
              <!-- passive skill header and info -->
              <th class="tt1" colspan="2">Ability</th>
              <td class="tt1" colspan="2"><%= sc[8] %></td>
            </tr>
          </table>
          </div>
      </div>
  <% end %>
  </div>


  </div>
