<div id="viewing_profile"></div>

    <div class="main-profile-container">
      <% 1.times do |_| %>
				<% sc = @soulcard[0] %>
        <% rating = sc[2] %>
      <div class="profile-container">
          <% if session[:username] %>
          <div class="edit-remove-buttons">
            <a href="/soulcards/<%= sc[0] %>/edit">Edit</a>|
            <a href="/soulcards/<%= sc[0] %>/remove" onClick="return checkMe('<%= sc[0] %>')">Remove</a>
          </div>
          <% end %>

              <img class="sc_index_pic" src="<%= sc[1] %>" alt="<%= sc[1] %>"/>
						<%== format_stat('stars', sc[2]) %>
          <h6 class="sc-profile-title"><%= upcase_name(sc[0]) %></h6>

					<p>--normal 1 stats</p>
					<%= sc[3] %>
						<p>--normal 2 stats</p>>
					<%= sc[4] %>
										<p>--prism 1 stats</p>
					<%= sc[5] %>
										<p>--prism 2 stats</p>
					<%= sc[6] %>
										<p>--restriction stats</p>
					<%= sc[7] %>
										<p>--ability stats</p>
					<%= sc[8] %>
      </div>
  <% end %>
  </div>
