sc['prism'][0]<div id="viewing_profile"></div>

    <div class="main-profile-container">
      <button type="button" class="btn btn-warning btn-xs exit-button2" style="visibility: hidden;">X</button>
        <% 1.times do |_| %>
				<% sc = @soulcard %>
				<% sc_prism = @soulcard_prism %>
        <% rating = sc['stars'] %>
      <div class="sc-profile-container">

      <h6 class="sc-profile-title"><%= upcase_name(@name) + "(" + sc['name'] + ")" %></h6>
        <div class="sc-img-container">
          <% image = get_sc_image(sc['view_idx'], sc['backup_image'])%>
              <img class="sc_profile_pic" src="<%= image %>" alt="<%= image %>"/>
</div>

<div class="sub-stats">
            <div class="sub-stat-div">
              <h5 class="card-title">Stars:</h5>
            <%== format_stat('stars', sc['grade']) %>

            </div>
      <div class="sub-stat-div">
      <h5 class="card-title">Normal:</h5>
          <table style="width:100%">
            <tr>
                <td colspan="2"></td>
                <th class="tt1" colspan="2">L1</th>
                <th class="tt1" colspan="2">L<%= rating %>0 +<%= rating %></th>
              </tr>
          <tr>
            <th class="tt1" colspan="2"><%= sc['status'].to_a[0][0].upcase %></th>
            <td class="tt1" colspan="2"><%= sc['status'].to_a[0][1] %></td>
            <td class="tt1" colspan="2"><%= sc['status_max'].to_a[0][1] %></td>
          </tr>
          <tr>>
            <th class="tt1" colspan="2"><%= sc['status'].to_a[1][0].upcase %></th>
            <td class="tt1" colspan="2"><%= sc['status'].to_a[1][1] %></td>
            <td class="tt1" colspan="2"><%= sc['status_max'].to_a[1][1] %></td>
            </tr>

            </table>
          </div>
					<% if (sc_prism['prisma'] == 1) %>
                    <div class="sub-stat-div">
                          <h5 class="card-title">Prism:</h5>
          <table style="width:100%">
                            <tr>
                <td colspan="2"></td>
                <th class="tt1" colspan="2">L1</th>
                <th class="tt1" colspan="2">L<%= rating %>0 +0</th>
                <th class="tt1" colspan="2">L<%= rating %>0 +<%= rating %></th>
              </tr>
          <tr>
            <th class="tt1" colspan="2"><%= sc_prism['status'].to_a[0][0].upcase %></th>
            <td class="tt1" colspan="2"><%= sc_prism['status'].to_a[0][1] %></td>
            <td class="tt1" colspan="2"><%= sc_prism['status_max'].to_a[0][1] %></td>
          </tr>
          <tr>>
            <th class="tt1" colspan="2"><%= sc_prism['status'].to_a[1][0].upcase %></th>
            <td class="tt1" colspan="2"><%= sc_prism['status'].to_a[1][1] %></td>
            <td class="tt1" colspan="2"><%= sc_prism['status_max'].to_a[1][1] %></td>
          </tr>
            </table>
            </div>
          <% end %>

          <div class="sub-stat-div">
                <h5 class="card-title">Passive:</h5>
          <table style="width:100%">
            <tr>
              <th class="tt1" colspan="2">Restrictions</th>
              <td class="tt1" colspan="2"><%= "Unknown" %></td>
            </tr>
            <tr>
              <!-- passive skill header and info -->
              <th class="tt1" colspan="2">Ability</th>
              <td class="tt1" colspan="2"><%= "#{sc['text']} (#{sc['text_max'].gsub(/[^0-9]/, '')})" %></td>
            </tr>
  					<% if (sc_prism['prisma'] == 1) %>
            <tr>
              <!-- passive skill header and info -->
              <th class="tt1" colspan="2">Ability - Prism</th>
              <td class="tt1" colspan="2"><%= "#{sc_prism['text']} (#{sc_prism['text_max'].gsub(/[^0-9]/, '')})" %></td>
            </tr>
  					<% end %>
          </table>
          </div>
          <div class="sub-stat-div">
                <h5 class="card-title">Notes:</h5>
              <% sc['notes'].split(/[.\\]/).each do |line| %>
              <% line = get_ref_to_info(line) if !sc['notes'].empty? %>
                <% if line[-1] != '.' %>
                <p><strong>·</strong> <%== line + "." %></p>
                <% else %>
                <p><strong>·</strong> <%== line %></p>
                <% end %>
              <% end %>
          </div>
            </div>
      </div>
  <% end %>
  </div>
