<div id="viewing_profile"></div>

<!-- delete popping class from below -->
<div class="main-profile-container">
 <button type="button" class="btn btn-success btn-xs exit-button2" style="visibility: hidden;">X</button>
  <div  class="special-links">
    <% stars = @mainstats['stars'] %>
    <!-- <button type="button" class="" id="back" onclick="goBack()">Go Back</button> -->
    <button type="button" class="mobile-button" id="pic-button1" onClick="return mobileHide('small')">Show Small pictures</button>
    <button type="button" class="mobile-button" id="pic-button2" onClick="return mobileHide('full')">Show Full picture</button>
  </div>

  <h3 class="unit_name"><%= upcase_name(@unit) %></h3>

  <div class="profile-container">
    <div class="pro-img-container mobile">
      <% @pics.each do |key, value| %>
      <% break if ['pic2', 'pic3', 'pic4'].include?(key) && (value.include?('emptyunit0') || value.empty?) %>
      <% image = value.gsub('/images/', '')%>
      <img class="pro-image-small hide pic-mobile %>" src="https://res.cloudinary.com/mnyiaa/image/upload/riceminejp/<%= image %>" alt="<%= image %>"/>

      <% end %>
      <% image = @unit.gsub('/images/', '').gsub("'", '_')%>

      <img class="pro-image-full pic-mobile" src="<%= get_img_link(image) %>" alt="<%= @unit %>.png"/>
    </div>
    <div class="bg-bar1"></div>
    <div class="bg-bar2"></div>
<div class="stats-container">

      <div class="mainstats-container">
        <% @mainstats.each do |info_key, info_val| %>
        <div class="main-stat-div">
          <% if ['stars', 'type', 'element'].include?(info_key) %>
            <h5 class="card-title"><%= info_key.capitalize %>:</h5>
            <p class="mainstats">
              <%== format_stat(info_key, info_val) %>
            </p>
          <% elsif info_key == "tier" %>
            <h5 class="card-title"><%= info_key.capitalize %> (PVE/PVP/Ragna/WB):</h5>
            <p class="mainstats">
              <%== format_stat(info_key, info_val).split(" ").join(" / ") %>
            </p>
          <% else %>
            <h5 class="card-title"><%= info_key.capitalize %>:</h5>
            <p class="mainstats"><%== format_stat(info_key, info_val) %></p>
          <% end %>
        </div>
        <% end %>
    </div>
<div class="substats-container">
    <% @substats.each do |info_key, info_val| %>
    <div class="sub-stat-div">
      <h5 class="card-title"><%= info_key.capitalize %>:</h5>
        <% if info_key != 'date' %>
          <% info_val.split(".").each do |line| %>
          <% line = get_ref_to_info(line) if info_key == 'notes' %>
            <% if line[-1] != '.' %>
            <p><strong>·</strong> <%== line + "." %></p>
            <% else %>
            <p><strong>·</strong> <%== line %></p>
            <% end %>
          <% end %>
      <% end %>
    </div>

    <% end %>

    <div class="sub-stat-div">
      <h5 class="card-title">Date:</h5>
      <p>Date added(Tokyo): <%= @date %></p>
    </div>
    </div>
</div>
</div>
</div>
