<div id="viewing_profile"></div>

    <div class="main-profile-container">
      <button type="button" class="btn btn-success btn-xs exit-button2" style="visibility: hidden;">X</button>
        <% 1.times do |_| %>
				<% sc = @soulcard[0] %>
        <% rating = sc[2] %>
      <h6 class="sc-profile-title"><%= upcase_name(sc[0]) %></h6>
      <div class="sc-profile-container">
          <% image = sc[1].gsub('/images/sc/', '').gsub("'", '_')%>
              <img class="sc_profile_pic" s src="https://res.cloudinary.com/mnyiaa/image/upload/c_scale,h_333,q_70,w_200/riceminejp/sc/<%= image %>" alt="<%= sc[1] %>"/>

            			<% @soulcard[0].each do |info_key, info_val| %>
            				<div class="profile-stat-container">
            					<h5 class="card-title"><%= info_key.capitalize %>:</h5>
            					<% if ["stars", "tier"].include?(info_key) %>
            						<%== format_stat(info_key, info_val) %>

            					<% elsif ['normal', 'prism'].include?(info_key)%>
            					<table style="width:100%">
            					  <tr>
            							<td colspan="2"></td>
            					    <th class="tt1" colspan="2">L1</th>
            					    <th class="tt1" colspan="2">L<%= @current_card['stars'] %>0 +0</th>
            					    <th class="tt1" colspan="2">L<%= @current_card['stars'] %>0 +<%= @current_card['stars'] %></th>
            					  </tr>
            						<tr>
            					    <th class="tt1" colspan="2"><%= info_val[0][0].upcase %></th>
            							<td class="tt1" colspan="2"><%= info_val[0][1] %></td>
            							<td class="tt1" colspan="2"><%= info_val[0][2] %></td>
            							<td class="tt1" colspan="2"><%= info_val[0][3] %></td>
            						</tr>
            					 <tr>
             						 <th class="tt1" colspan="2"><%= info_val[1][0].upcase %></th>
            						 <td class="tt1" colspan="2"><%= info_val[1][1] %></td>
            						 <td class="tt1" colspan="2"><%= info_val[1][2] %></td>
            						 <td class="tt1" colspan="2"><%= info_val[1][3] %></td>
            					 </tr>
            					</table>
            					<% elsif info_key == 'passive' %>
            					<table style="width:100%">
            						<tr>
            							<th class="tt1" colspan="2"><%= info_val[0][0].capitalize %></th>
            							<td class="tt1" colspan="2"><%= sc_formatter(info_val[0][1]) %></td>
            						</tr>
            						<tr>
            							<!-- passive skill header and info -->
            							<th class="tt1" colspan="2"><%= info_val[1][0].capitalize %></th>
            							<td class="tt1" colspan="2"><%= sc_formatter(info_val[1][1]) %></td>
            						</tr>
            						</table>
            					<% end %>
            				</div>
                    <% end %>
            		</div> <!-- col div -->

  <% end %>

  </div>
